* {
  box-sizing: border-box;
}

html {
  width: 950px;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

header {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: rgb(46, 45, 45);
  margin: 0px;
}
.contenedor {
  position: absolute;
  color: white;
  height: 100px;
  width: 150px;
  background-color: rgb(88, 87, 87);
  top: 15%;
  left: 4%;
}
.contenedor p {
  margin: 45px 35px;
}

nav {
  height: 35px;
  background-color: rgb(140, 223, 15);
  overflow: hidden;
  color: white;
  font-weight: bolder;
}
nav p {
  margin: 10px;
}

main {
  background-color: gray;
  padding: 20px;
}
.wrapper {
  height: 380px;
  display: grid;
  grid-template-columns: 200px 380px 250px;
  grid-template-rows: 230px 90px;
  gap: 30px;
}
div div {
  background-color: rgb(206, 207, 207);
}
.middle {
  display: grid;
  grid-template-columns: 130px 200px;
  gap: 10px;
  padding: 20px;
}
.middle * {
  background-color: white;
  height: 200px;
}
.bottom {
  grid-column-start: 1;
  grid-column-end: 4;
}

footer {
  background-color: rgb(77, 75, 75);
  height: 30px;
  padding: 30px;
  color: white;
  font-weight: 700;
}
